glp-weekly-snapshot-v3.json
{
  "name": "GLP Weekly Snapshot v3",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 3"
            }
          ]
        }
      },
      "id": "b0a10001-aa11-4a11-8a11-b0a100010001",
      "name": "Wednesday 09:00 Stockholm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-300, 60],
      "notes": "Every Wednesday 09:00 Europe/Stockholm. Triggers weekly mode for all active users."
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glp-weekly-regenerate",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0a10001-bb22-4b22-8b22-b0a100010002",
      "name": "Webhook Regenerate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-300, 360],
      "webhookId": "c3d4e5f6-1234-4abc-8def-c3d4e5f61234",
      "notes": "POST /webhook/glp-weekly-regenerate (production). Body: { execution_mode, user_id?, iso_week?, affiliation?, roles?, force_regenerate? }. Uses Respond to Webhook node for ACK."
    },
    {
      "parameters": {
        "jsCode": "// Resolve Scope\n// Normalizes trigger input (schedule or webhook body) into a standard scope object.\n// Also embeds API config constants so downstream nodes can reference them.\n\nconst input = $input.first().json;\nconst body = input.body || input;\n\nfunction computeISOWeek() {\n  const now = new Date();\n  const d = new Date(Date.UTC(now.getFullYear(), now.getMonth(), now.getDate()));\n  const dayNum = d.getUTCDay() || 7;\n  d.setUTCDate(d.getUTCDate() + 4 - dayNum);\n  const yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));\n  const weekNo = Math.ceil((((d - yearStart) / 86400000) + 1) / 7);\n  return `${d.getUTCFullYear()}W${String(weekNo).padStart(2, '0')}`;\n}\n\nconst execution_mode = body.execution_mode || 'weekly';\nconst iso_week = body.iso_week || computeISOWeek();\nconst single_user_id = body.user_id || null;\n\nreturn [{\n  json: {\n    execution_mode,\n    iso_week,\n    single_user_id,\n    targetAffiliation: body.affiliation || null,\n    includedRoles: body.roles || ['researcher', 'supervisor'],\n    force_regenerate: !!body.force_regenerate,\n    glp_base_url: 'https://natlab-glp-production.up.railway.app',\n    glp_api_key: 'bd8dJLbvi5DCJgZ7iEE0YM8obtH5oaph-ZFrh8Bcdw8'\n  }\n}];\n"
      },
      "id": "b0a10001-cc33-4c33-8c33-b0a100010003",
      "name": "Resolve Scope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [0, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, accepted: true, execution_mode: $json.execution_mode, user_id: $json.single_user_id || null, iso_week: $json.iso_week, poll_url: $json.single_user_id ? '/api/glp/status/history/' + $json.single_user_id + '?limit=5' : null }) }}",
        "options": {}
      },
      "id": "b0a10001-dd44-4d44-8d44-b0a100010004",
      "name": "ACK Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [280, 460],
      "onError": "continueRegularOutput",
      "notes": "Returns immediate ACK with computed scope values. Only fires during webhook-triggered runs; silently skipped for schedule triggers."
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-exec-mode",
              "leftValue": "={{ $json.execution_mode }}",
              "rightValue": "single_user",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b0a10001-ee55-4e55-8e55-b0a100010005",
      "name": "Branch Execution Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [320, 140]
    },
    {
      "parameters": {
        "jsCode": "// Build Single User Item\n// Creates one user item from scope for single_user mode.\n\nconst scope = $json;\n\nreturn [{\n  json: {\n    user_id: scope.single_user_id,\n    iso_week: scope.iso_week,\n    role: null,\n    affiliation: scope.targetAffiliation,\n    active: true,\n    glp_base_url: scope.glp_base_url,\n    glp_api_key: scope.glp_api_key\n  }\n}];\n"
      },
      "id": "b0a10001-ff66-4f66-8f66-b0a100010006",
      "name": "Build Single User Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, -20]
    },
    {
      "parameters": {
        "url": "={{ $json.glp_base_url + '/api/glp/cohorts/selected' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.glp_api_key }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b0a10001-0077-4077-8077-b0a100010007",
      "name": "Fetch Active Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [580, 340],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Flatten Cohorts to Users\n// Transforms { cohorts: { cohort_id: [user, ...], ... } } into per-user items.\n\nconst root = $input.first().json || {};\nconst cohorts = root.cohorts || {};\nconst out = [];\n\nfor (const cohort_id of Object.keys(cohorts)) {\n  const arr = Array.isArray(cohorts[cohort_id]) ? cohorts[cohort_id] : [];\n  for (const u of arr) {\n    out.push({\n      json: {\n        cohort_id,\n        user_id: u.user_id,\n        name: u.name || null,\n        role: u.role || null,\n        affiliation: u.affiliation || u.institution || null,\n        active: !!u.active\n      }\n    });\n  }\n}\n\nif (out.length === 0) return [];\nreturn out;\n"
      },
      "id": "b0a10001-0088-4088-8088-b0a100010008",
      "name": "Flatten Cohorts to Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 340]
    },
    {
      "parameters": {
        "jsCode": "// Filter and Enrich Users\n// Filters by included roles and optional affiliation.\n// Attaches iso_week and API config to each surviving item.\n\nconst scope = $('Resolve Scope').first().json;\nconst roles = (scope.includedRoles || []).map(r => String(r).toLowerCase());\nconst allowed = new Set(roles);\nconst targetAff = scope.targetAffiliation ? String(scope.targetAffiliation) : null;\n\nconst out = $input.all().filter(item => {\n  const role = String(item.json.role || '').toLowerCase();\n  if (!allowed.has(role)) return false;\n  if (targetAff && String(item.json.affiliation || '') !== targetAff) return false;\n  return true;\n}).map(item => ({\n  json: {\n    ...item.json,\n    iso_week: scope.iso_week,\n    glp_base_url: scope.glp_base_url,\n    glp_api_key: scope.glp_api_key\n  }\n}));\n\nif (out.length === 0) return [];\nreturn out;\n"
      },
      "id": "b0a10001-0099-4099-8099-b0a100010009",
      "name": "Filter and Enrich Users",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 340]
    },
    {
      "parameters": {
        "url": "={{ $json.glp_base_url + '/api/glp/status/history/' + $json.user_id + '?limit=5' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.glp_api_key }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b0a10001-00aa-40aa-80aa-b0a10001000a",
      "name": "Fetch User History",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1300, 140],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Recombine History\n// Re-attaches user context (lost after HTTP Request) to history response.\n// Uses try-catch to reference the correct source node (single_user vs weekly path).\n\nlet user;\ntry { user = $('Build Single User Item').item.json; } catch { user = null; }\nif (!user) {\n  try { user = $('Filter and Enrich Users').item.json; } catch { user = null; }\n}\nif (!user) user = {};\n\nconst resp = $json || {};\n\nreturn {\n  json: {\n    user_id: user.user_id || resp.user_id || null,\n    iso_week: user.iso_week || null,\n    role: user.role || null,\n    affiliation: user.affiliation || null,\n    glp_base_url: user.glp_base_url || null,\n    glp_api_key: user.glp_api_key || null,\n    weeks: Array.isArray(resp.weeks) ? resp.weeks : (Array.isArray(resp) ? resp : [])\n  }\n};\n"
      },
      "id": "b0a10001-00bb-40bb-80bb-b0a10001000b",
      "name": "Recombine History",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 140]
    },
    {
      "parameters": {
        "url": "={{ $json.glp_base_url + '/api/glp/status/user-facts/' + $json.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.glp_api_key }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b0a10001-00cc-40cc-80cc-b0a10001000c",
      "name": "Fetch User Facts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1780, 140],
      "onError": "continueRegularOutput",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Prepare Context and AI Prompt\n// Merges history context + user facts, then composes the OpenAI prompt.\n\nconst context = $('Recombine History').item.json;\nconst factsResp = $json || {};\n\nfunction safeJson(x) {\n  try { return JSON.stringify(x ?? null, null, 2); } catch { return String(x); }\n}\n\nconst userId = context.user_id || 'UNKNOWN';\nconst isoWeek = context.iso_week || 'UNKNOWN';\nconst weeks = context.weeks || [];\nconst latestSnapshot = weeks.length > 0 && weeks[0].snapshot ? weeks[0].snapshot : null;\n\nconst prompt = `You are the NAT Lab GLP weekly analyst for Good Laboratory Practice compliance.\n\nTASK: Analyze the researcher's GLP status data and produce a structured harmony assessment.\n\nRULES:\n- Return ONLY valid JSON matching the exact schema below.\n- No markdown, no commentary, no extra keys.\n- harmony_map.wins_this_week: 2-3 short bullet strings highlighting this week's GLP wins.\n- harmony_map.best_upgrade_next_week: single sentence, most impactful improvement for next week.\n- harmony_map.trend: one of \"improving\", \"stable\", \"declining\", or \"insufficient_data\".\n- conformity.what_is_working_well: 2-3 bullet strings on GLP conformity strengths.\n- conformity.main_improvement_next_week: single sentence, key conformity improvement.\n- conformity.trend_vs_previous_weeks: one of \"improving\", \"stable\", \"declining\", or \"insufficient_data\".\n- conformity.focus_for_coming_week: 2-3 actionable bullet strings for focus areas.\n- confidence: float 0.0-1.0 reflecting data quality and completeness.\n- Do NOT assign GLP level or mascot (server handles those).\n- If data is sparse, still produce the JSON with confidence near 0 and trend \"insufficient_data\".\n\nOUTPUT JSON SCHEMA (return exactly this structure):\n{\n  \"schema_version\": 1,\n  \"generated_at\": \"<ISO 8601 timestamp>\",\n  \"user_id\": \"${userId}\",\n  \"iso_week\": \"${isoWeek}\",\n  \"confidence\": 0.0,\n  \"harmony_map\": {\n    \"wins_this_week\": [\"string\", \"string\"],\n    \"best_upgrade_next_week\": \"string\",\n    \"trend\": \"string\"\n  },\n  \"conformity\": {\n    \"what_is_working_well\": [\"string\", \"string\"],\n    \"main_improvement_next_week\": \"string\",\n    \"trend_vs_previous_weeks\": \"string\",\n    \"focus_for_coming_week\": [\"string\", \"string\"]\n  }\n}\n\nINPUT DATA:\nuser_id: ${userId}\niso_week: ${isoWeek}\n\nCurrent snapshot:\n${safeJson(latestSnapshot)}\n\nUser facts:\n${safeJson(factsResp)}\n\nRecent history (up to 5 weeks):\n${safeJson(weeks)}`;\n\nreturn {\n  json: {\n    user_id: context.user_id,\n    iso_week: context.iso_week,\n    weeks: weeks,\n    facts: factsResp,\n    glp_base_url: context.glp_base_url,\n    glp_api_key: context.glp_api_key,\n    chatInput: prompt\n  }\n};\n"
      },
      "id": "b0a10001-00dd-40dd-80dd-b0a10001000d",
      "name": "Prepare Context and AI Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2020, 140]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.chatInput }}"
            }
          ]
        },
        "jsonOutput": true,
        "simplify": false,
        "options": {
          "temperature": 0
        }
      },
      "id": "b0a10001-00ee-40ee-80ee-b0a10001000e",
      "name": "Call OpenAI Harmony",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [2260, 140],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "credentials": {
        "openAiApi": {
          "id": "Y4cRhDttVeOy0a5a",
          "name": "OpenAi UNAV"
        }
      },
      "notes": "gpt-5-mini, temperature 0, JSON output mode. On failure: outputs empty item so downstream can set has_harmony=false."
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Validate AI and Compose Snapshot\n// 1. Extracts AI JSON from OpenAI response (handles multiple output formats).\n// 2. Validates against the harmony schema.\n// 3. Composes the final snapshot with has_harmony + harmony fields.\n// 4. On any failure: has_harmony=false, harmony=null.\n\nconst context = $('Prepare Context and AI Prompt').item.json;\nconst aiResp = $json || {};\n\n// --- Step 1: Extract AI JSON ---\nlet ai = null;\n\n// Format A: simplify=false → choices array\nif (aiResp.choices && Array.isArray(aiResp.choices) && aiResp.choices[0]) {\n  const content = aiResp.choices[0].message?.content;\n  if (content && typeof content === 'object') {\n    ai = content;\n  } else if (typeof content === 'string') {\n    try { ai = JSON.parse(content); } catch {}\n  }\n}\n\n// Format B: simplified output\nif (!ai && aiResp.message?.content) {\n  const c = aiResp.message.content;\n  if (typeof c === 'object') ai = c;\n  else if (typeof c === 'string') {\n    try { ai = JSON.parse(c); } catch {}\n  }\n}\n\n// Format C: direct output (some n8n versions)\nif (!ai && aiResp.harmony_map) {\n  ai = aiResp;\n}\n\n// --- Step 2: Validate harmony schema ---\nlet aiValid = false;\nif (ai && typeof ai === 'object') {\n  const hm = ai.harmony_map;\n  const conf = ai.conformity;\n  aiValid = !!(\n    ai.schema_version === 1 &&\n    typeof ai.user_id === 'string' &&\n    typeof ai.iso_week === 'string' &&\n    typeof ai.confidence === 'number' &&\n    ai.confidence >= 0 && ai.confidence <= 1 &&\n    hm && typeof hm === 'object' &&\n    Array.isArray(hm.wins_this_week) && hm.wins_this_week.length >= 1 &&\n    typeof hm.best_upgrade_next_week === 'string' &&\n    typeof hm.trend === 'string' &&\n    conf && typeof conf === 'object' &&\n    Array.isArray(conf.what_is_working_well) && conf.what_is_working_well.length >= 1 &&\n    typeof conf.main_improvement_next_week === 'string' &&\n    typeof conf.trend_vs_previous_weeks === 'string' &&\n    Array.isArray(conf.focus_for_coming_week) && conf.focus_for_coming_week.length >= 1\n  );\n}\n\n// --- Step 3: Compose snapshot ---\nconst userId = context.user_id;\nconst isoWeek = context.iso_week;\nconst weeks = context.weeks || [];\nconst week0 = weeks.length > 0 ? weeks[0] : null;\n\nlet snapshot = (week0 && week0.snapshot)\n  ? { ...week0.snapshot }\n  : { user_id: userId, iso_week: isoWeek };\n\nsnapshot.has_harmony = aiValid;\nsnapshot.harmony = aiValid ? ai : null;\n\nreturn {\n  json: {\n    user_id: userId,\n    iso_week: isoWeek,\n    ai_valid: aiValid,\n    snapshot,\n    glp_base_url: context.glp_base_url,\n    glp_api_key: context.glp_api_key\n  }\n};\n"
      },
      "id": "b0a10001-00ff-40ff-80ff-b0a10001000f",
      "name": "Validate AI and Compose Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2500, 140]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.glp_base_url + '/api/glp/status/write-weekly-snapshot' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $json.glp_api_key }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, iso_week: $json.iso_week, snapshot: $json.snapshot }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b0a10001-0010-4010-8010-b0a100010010",
      "name": "Write Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2740, 140],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "b0a10001-0011-4011-8011-b0a100010011",
      "name": "Self Test Checklist",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [2980, 140],
      "notes": "=== SELF TEST CHECKLIST ===\n\n1. PRODUCTION WEBHOOK TEST (single_user):\n   curl -X POST https://<n8n-host>/webhook/glp-weekly-regenerate \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"execution_mode\":\"single_user\",\"user_id\":\"FJH2\",\"iso_week\":\"2026W08\",\"force_regenerate\":true}'\n\n2. EXPECTED ACK (< 1 second):\n   {\n     \"ok\": true,\n     \"accepted\": true,\n     \"execution_mode\": \"single_user\",\n     \"user_id\": \"FJH2\",\n     \"iso_week\": \"2026W08\",\n     \"poll_url\": \"/api/glp/status/history/FJH2?limit=5\"\n   }\n\n3. WEEKLY MODE TEST:\n   curl -X POST https://<n8n-host>/webhook/glp-weekly-regenerate \\\n     -H 'Content-Type: application/json' \\\n     -d '{\"execution_mode\":\"weekly\"}'\n\n4. WHERE TO SEE EXECUTION RESULTS:\n   - n8n UI → Executions tab → click latest execution\n   - Each node shows input/output data\n   - Check 'Validate AI and Compose Snapshot' for ai_valid=true/false\n   - Check 'Write Snapshot' for server response (200 OK)\n\n5. VERIFY SERVER HISTORY HAS has_harmony=true:\n   curl https://natlab-glp-production.up.railway.app/api/glp/status/history/FJH2?limit=1 \\\n     -H 'x-api-key: <api_key>'\n   → Response should show weeks[0].snapshot.has_harmony === true\n   → Response should show weeks[0].snapshot.harmony.schema_version === 1\n\n6. CONFIRM UI RENDERS HARMONY FIELDS:\n   - Open GLP Status portal as the target user\n   - Harmony Map section: left caption shows harmony_map.wins_this_week bullets\n   - Harmony Map section: right caption shows harmony_map.best_upgrade_next_week\n   - Harmony Map section: trend line shows harmony_map.trend\n   - GLP Conformity section: bullets show conformity.what_is_working_well\n   - GLP Conformity section: main improvement shows conformity.main_improvement_next_week\n   - GLP Conformity section: trend line shows conformity.trend_vs_previous_weeks\n   - GLP Conformity section: focus bullets show conformity.focus_for_coming_week\n\n7. AI FAILURE RESILIENCE TEST:\n   - Temporarily break OpenAI credential or set invalid model\n   - Trigger single_user → should complete without error\n   - Snapshot should have has_harmony=false, harmony=null\n   - UI should gracefully hide harmony sections"
    }
  ],
  "pinData": {},
  "connections": {
    "Wednesday 09:00 Stockholm": {
      "main": [
        [
          {
            "node": "Resolve Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Regenerate": {
      "main": [
        [
          {
            "node": "Resolve Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Scope": {
      "main": [
        [
          {
            "node": "Branch Execution Mode",
            "type": "main",
            "index": 0
          },
          {
            "node": "ACK Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ACK Webhook": {
      "main": [
        []
      ]
    },
    "Branch Execution Mode": {
      "main": [
        [
          {
            "node": "Build Single User Item",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fetch Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Single User Item": {
      "main": [
        [
          {
            "node": "Fetch User History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Active Users": {
      "main": [
        [
          {
            "node": "Flatten Cohorts to Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Cohorts to Users": {
      "main": [
        [
          {
            "node": "Filter and Enrich Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter and Enrich Users": {
      "main": [
        [
          {
            "node": "Fetch User History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User History": {
      "main": [
        [
          {
            "node": "Recombine History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recombine History": {
      "main": [
        [
          {
            "node": "Fetch User Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Facts": {
      "main": [
        [
          {
            "node": "Prepare Context and AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Context and AI Prompt": {
      "main": [
        [
          {
            "node": "Call OpenAI Harmony",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call OpenAI Harmony": {
      "main": [
        [
          {
            "node": "Validate AI and Compose Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI and Compose Snapshot": {
      "main": [
        [
          {
            "node": "Write Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Snapshot": {
      "main": [
        [
          {
            "node": "Self Test Checklist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Stockholm"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": [
    {
      "name": "GLP"
    }
  ]
}
