n8n-workflow-di-review.json
{
  "name": "GLP Data Integrity Review",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "di-review",
        "options": {},
        "responseMode": "responseNode"
      },
      "id": "webhook-1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "di-review"
    },
    {
      "parameters": {
        "jsCode": "// Route based on action parameter\nconst action = $json.body?.action || $json.query?.action || 'intake';\nreturn [{ json: { ...($json.body || $json), action: action } }];"
      },
      "id": "get-action-1",
      "name": "Get Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-1",
              "leftValue": "={{ $json.action }}",
              "rightValue": "show_form",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-show-form-1",
      "name": "Is Show Form?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-2",
              "leftValue": "={{ $json.action }}",
              "rightValue": "revise",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-revise-1",
      "name": "Is Revise?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 500]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<!DOCTYPE html>\n<html>\n<head><title>Request Revision</title></head>\n<body style=\"font-family:Arial;background:linear-gradient(135deg,#1a365d,#2d5a87);min-height:100vh;display:flex;justify-content:center;align-items:center;margin:0;\">\n<div style=\"background:white;padding:40px;border-radius:10px;max-width:500px;width:90%;\">\n<h1 style=\"color:#1a365d;\">Request Revision</h1>\n<p>Submission ID: {{ $('Webhook').first().json.query?.submission_id }}</p>\n<form method=\"POST\" action=\"https://n8n-production-4d4f.up.railway.app/webhook/di-review\">\n<input type=\"hidden\" name=\"action\" value=\"revise\">\n<input type=\"hidden\" name=\"submission_id\" value=\"{{ $('Webhook').first().json.query?.submission_id }}\">\n<input type=\"hidden\" name=\"token\" value=\"{{ $('Webhook').first().json.query?.token }}\">\n<label style=\"display:block;margin-bottom:8px;font-weight:bold;\">Revision Comments:</label>\n<textarea name=\"comments\" required style=\"width:100%;height:150px;padding:10px;border:2px solid #ddd;border-radius:5px;box-sizing:border-box;\" placeholder=\"Enter your comments...\"></textarea>\n<button type=\"submit\" style=\"width:100%;padding:15px;background:#dc3545;color:white;border:none;border-radius:5px;cursor:pointer;margin-top:15px;font-size:16px;\">Submit Revision Request</button>\n</form>\n</div>\n</body>\n</html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "show-form-1",
      "name": "Show Form Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://natlab-glp-production.up.railway.app/api/di/submissions/{{ $json.submission_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "natlab_glp_api_k3y_2024_s3cur3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"status\": \"REVISION_NEEDED\" }",
        "options": {}
      },
      "id": "update-revision-1",
      "name": "Update to Revision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 400]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "<!DOCTYPE html><html><body style=\"font-family:Arial;display:flex;justify-content:center;align-items:center;height:100vh;background:#f0f0f0;margin:0;\"><div style=\"background:white;padding:40px;border-radius:10px;text-align:center;\"><div style=\"color:#28a745;font-size:48px;\">&#10003;</div><h1 style=\"color:#1a365d;\">Revision Requested</h1><p>The researcher will be notified.</p></div></body></html>",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "id": "respond-revision-1",
      "name": "Revision Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://natlab-glp-production.up.railway.app/api/di/extract-text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "natlab_glp_api_k3y_2024_s3cur3"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ submission_id: $json.submission_id }) }}",
        "options": {}
      },
      "id": "extract-text-1",
      "name": "Extract Text",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 600]
    },
    {
      "parameters": {
        "jsCode": "const webhookData = $('Get Action').first().json;\nconst extractData = $input.first().json;\n\nreturn [{\n  json: {\n    submission_id: webhookData.submission_id,\n    researcher_id: webhookData.researcher_id,\n    affiliation: webhookData.affiliation,\n    fileType: webhookData.fileType,\n    original_filename: webhookData.original_filename,\n    sha256: extractData.sha256 || 'pending',\n    extracted_text: extractData.extracted_text || 'No text extracted'\n  }\n}];"
      },
      "id": "prepare-1",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 600]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "=You are an expert GLP (Good Laboratory Practice) compliance reviewer and data integrity auditor for NATLAB, a regulated laboratory. Your role is to rigorously evaluate submitted documents for regulatory compliance.\n\n## SUBMISSION METADATA\n- Submission ID: {{ $json.submission_id }}\n- Declared Type: {{ $json.fileType }}\n- Researcher: {{ $json.researcher_id }}\n- Affiliation: {{ $json.affiliation }}\n- Filename: {{ $json.original_filename }}\n\n## DOCUMENT CONTENT\n{{ $json.extracted_text }}\n\n---\n\n## YOUR TASK\n\n### STEP 1: INFER DOCUMENT TYPE\nFirst, determine if this is an SOP (Standard Operating Procedure) or DATA document based on content analysis:\n- **SOP indicators**: procedure steps, methodology descriptions, equipment lists, safety protocols, version control, approval signatures, purpose/scope sections\n- **DATA indicators**: experimental results, measurements, observations, tables with values, dates/times of experiments, raw data, calculations, sample IDs\n\n### STEP 2: PERFORM APPROPRIATE REVIEW\n\n**IF SOP DOCUMENT:**\nEvaluate GLP compliance by checking for these required elements:\n1. **Title & Identification**: Clear title, document number, version\n2. **Version Control**: Version number, effective date, revision history\n3. **Purpose & Scope**: Clear statement of what procedure covers\n4. **Responsibilities**: Defined roles (who performs, who approves)\n5. **Materials & Equipment**: Complete list with specifications\n6. **Procedure Steps**: Numbered, unambiguous, reproducible steps\n7. **Safety & Precautions**: Hazard warnings, PPE requirements\n8. **Quality Control**: QC checkpoints, acceptance criteria\n9. **Documentation Requirements**: What records to keep, forms to complete\n10. **References**: Related SOPs, standards, regulations\n11. **Approval Signatures**: Spaces for author, reviewer, approver with dates\n\nScore deductions:\n- Missing critical section (Purpose, Procedure, Responsibilities): -15 points each\n- Missing important section (Safety, QC, Version): -10 points each\n- Ambiguous or incomplete steps: -5 points each\n- Missing references or forms: -3 points each\n\n**IF DATA DOCUMENT:**\nEvaluate data integrity using ALCOA+ principles:\n1. **Attributable**: Can identify WHO recorded data, WHEN, and on WHAT device/system\n2. **Legible**: Data is readable, permanent, and understandable\n3. **Contemporaneous**: Data recorded at time of activity (timestamps present)\n4. **Original**: First-capture data or certified true copy\n5. **Accurate**: Data is correct, truthful, reflects actual observations\n\nALCOA+ Extensions:\n6. **Complete**: All data present, no unexplained gaps or deletions\n7. **Consistent**: Data entries follow logical sequence, no anachronisms\n8. **Enduring**: Recorded on appropriate durable media\n9. **Available**: Accessible for review throughout retention period\n\nScore deductions:\n- Not Attributable (no author/date): -20 points\n- Not Legible (unclear data): -15 points\n- Not Contemporaneous (no timestamps): -15 points\n- Not Original (appears copied without certification): -10 points\n- Accuracy concerns (inconsistencies found): -15 points\n- Incomplete data sets: -10 points\n- Unexplained corrections or deletions: -10 points each\n\n### STEP 3: MAKE DECISION\n- **APPROVE**: Score >= 80 AND no critical issues (missing attribution, safety risks, data integrity violations)\n- **REVISION_NEEDED**: Score < 80 OR any critical issues present\n\n---\n\n## OUTPUT FORMAT (STRICT JSON ONLY)\n\nRespond with ONLY this JSON structure, no other text:\n\n```json\n{\n  \"doc_type\": \"SOP\" | \"DATA\",\n  \"decision\": \"APPROVE\" | \"REVISION_NEEDED\",\n  \"score\": <0-100>,\n  \"summary\": \"<2-3 sentence overall assessment>\",\n  \"issues\": [\n    \"<specific issue 1>\",\n    \"<specific issue 2>\"\n  ],\n  \"recommended_changes\": [\n    \"<actionable recommendation 1>\",\n    \"<actionable recommendation 2>\"\n  ],\n  \"missing_sections\": [\n    \"<missing section 1 if SOP>\"\n  ],\n  \"alcoa_flags\": {\n    \"attributable\": true | false,\n    \"legible\": true | false,\n    \"contemporaneous\": true | false,\n    \"original\": true | false,\n    \"accurate\": true | false,\n    \"complete\": true | false,\n    \"consistent\": true | false\n  }\n}\n```\n\nNOTE: For SOP documents, set all alcoa_flags to true (not applicable). For DATA documents, missing_sections should be an empty array.\n\nBe rigorous but fair. A score of 100 means perfect compliance. Most real documents score 70-90."
            }
          ]
        },
        "options": {
          "temperature": 0.1
        }
      },
      "id": "ai-review-1",
      "name": "AI Review",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [1340, 600],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const baseUrl = 'https://natlab-glp-production.up.railway.app';\n\nconst prepData = $('Prepare Data').first().json;\nconst aiResponse = $input.first().json;\n\nlet rawText = '';\nlet review = {};\n\ntry {\n  // Try multiple ways to get the AI response text\n  if (typeof aiResponse === 'string') {\n    rawText = aiResponse;\n  } else if (aiResponse.message && aiResponse.message.content) {\n    rawText = aiResponse.message.content;\n  } else if (aiResponse.text) {\n    rawText = aiResponse.text;\n  } else if (aiResponse.content) {\n    rawText = aiResponse.content;\n  } else if (aiResponse.output) {\n    rawText = aiResponse.output;\n  } else {\n    rawText = JSON.stringify(aiResponse);\n  }\n  \n  // Clean up the text - remove markdown code blocks\n  let cleanText = rawText;\n  cleanText = cleanText.replace(/```json\\s*/gi, '');\n  cleanText = cleanText.replace(/```\\s*/gi, '');\n  cleanText = cleanText.trim();\n  \n  // Try to find JSON in the response\n  const jsonMatch = cleanText.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) {\n    review = JSON.parse(jsonMatch[0]);\n  } else {\n    throw new Error('No JSON found in response');\n  }\n} catch (e) {\n  // Fallback review\n  review = { \n    doc_type: 'UNKNOWN',\n    decision: 'REVISION_NEEDED', \n    score: 50, \n    summary: 'AI analysis completed but parsing failed. Manual review required.', \n    issues: ['Automated parsing encountered an issue - please review manually'], \n    recommended_changes: ['Submit document for manual PI review'],\n    missing_sections: [],\n    alcoa_flags: {\n      attributable: false,\n      legible: false,\n      contemporaneous: false,\n      original: false,\n      accurate: false,\n      complete: false,\n      consistent: false\n    }\n  };\n}\n\n// Ensure all required fields exist with new schema\nreview.doc_type = review.doc_type || 'UNKNOWN';\nreview.decision = review.decision || 'REVISION_NEEDED';\nreview.score = typeof review.score === 'number' ? review.score : 50;\nreview.summary = review.summary || 'Review completed';\nreview.issues = Array.isArray(review.issues) ? review.issues : [];\nreview.recommended_changes = Array.isArray(review.recommended_changes) ? review.recommended_changes : [];\nreview.missing_sections = Array.isArray(review.missing_sections) ? review.missing_sections : [];\nreview.alcoa_flags = review.alcoa_flags || {};\n\n// Backwards compatibility\nreview.recommendations = review.recommended_changes;\nreview.compliant = review.decision === 'APPROVE';\n\n// Simple token: base64 of submission_id + secret suffix\nconst tokenBase = String(prepData.submission_id) + '_glp_2024_sec';\nconst token = Buffer.from(tokenBase).toString('base64').replace(/[^a-zA-Z0-9]/g, '').substring(0, 32);\n\n// Decision based on AI verdict\nconst isApproved = review.decision === 'APPROVE';\n\n// Build ALCOA summary for DATA documents\nlet alcoaSummary = '';\nif (review.doc_type === 'DATA' && review.alcoa_flags) {\n  const flags = review.alcoa_flags;\n  const passed = Object.values(flags).filter(v => v === true).length;\n  const total = Object.keys(flags).length;\n  alcoaSummary = `ALCOA: ${passed}/${total} criteria met`;\n  \n  const failed = Object.entries(flags)\n    .filter(([k, v]) => v === false)\n    .map(([k]) => k.charAt(0).toUpperCase() + k.slice(1));\n  if (failed.length > 0) {\n    alcoaSummary += ` (Failed: ${failed.join(', ')})`;\n  }\n}\n\nreturn [{\n  json: {\n    submission_id: prepData.submission_id,\n    researcher_id: prepData.researcher_id,\n    affiliation: prepData.affiliation,\n    fileType: prepData.fileType,\n    original_filename: prepData.original_filename,\n    sha256: prepData.sha256,\n    extracted_text: prepData.extracted_text,\n    review: review,\n    doc_type: review.doc_type,\n    decision: review.decision,\n    is_approved: isApproved,\n    is_compliant: isApproved,\n    alcoa_summary: alcoaSummary,\n    token: token,\n    download_url: baseUrl + '/api/di/download/' + prepData.submission_id,\n    approve_url: baseUrl + '/api/di/approve/' + prepData.submission_id + '?token=' + token,\n    revise_url: baseUrl + '/api/di/revise/' + prepData.submission_id + '?token=' + token,\n    sign_url: baseUrl + '/api/di/sign/' + prepData.submission_id + '?token=' + token\n  }\n}];"
      },
      "id": "build-result-1",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 600]
    },
    {
      "parameters": {
        "sendTo": "=frank.hernandez@liu.se",
        "subject": "=[GLP-{{ $json.doc_type }}] {{ $json.original_filename }} - {{ $json.decision }} ({{ $json.review.score }}/100)",
        "emailType": "html",
        "message": "=<html><body style=\"font-family:Arial;max-width:700px;margin:0 auto;background:#f5f5f5;padding:20px;\">\n<div style=\"background:white;border-radius:10px;overflow:hidden;box-shadow:0 2px 10px rgba(0,0,0,0.1);\">\n\n<div style=\"background:linear-gradient(135deg,#1a365d,#2d5a87);color:white;padding:25px;text-align:center;\">\n<h1 style=\"margin:0;font-size:24px;\">GLP Document Review</h1>\n<p style=\"margin:10px 0 0 0;opacity:0.9;\">NATLAB Data Integrity Portal</p>\n<div style=\"margin-top:15px;\">\n<span style=\"background:{{ $json.doc_type === 'SOP' ? '#17a2b8' : '#6f42c1' }};padding:6px 16px;border-radius:20px;font-size:13px;font-weight:bold;\">{{ $json.doc_type }} Document</span>\n</div>\n</div>\n\n<div style=\"padding:25px;\">\n\n<div style=\"background:#f8f9fa;padding:20px;border-radius:8px;margin-bottom:20px;\">\n<h2 style=\"color:#1a365d;margin:0 0 15px 0;font-size:18px;\">Submission Details</h2>\n<table style=\"width:100%;border-collapse:collapse;\">\n<tr><td style=\"padding:8px 0;color:#666;width:140px;\">Submission ID:</td><td style=\"padding:8px 0;font-weight:bold;\">{{ $json.submission_id }}</td></tr>\n<tr><td style=\"padding:8px 0;color:#666;\">Researcher:</td><td style=\"padding:8px 0;\">{{ $json.researcher_id }}</td></tr>\n<tr><td style=\"padding:8px 0;color:#666;\">Affiliation:</td><td style=\"padding:8px 0;\"><span style=\"background:{{ $json.affiliation === 'LiU' ? '#007bff' : '#dc3545' }};color:white;padding:2px 10px;border-radius:12px;font-size:12px;\">{{ $json.affiliation }}</span></td></tr>\n<tr><td style=\"padding:8px 0;color:#666;\">File:</td><td style=\"padding:8px 0;\">{{ $json.original_filename }}</td></tr>\n<tr><td style=\"padding:8px 0;color:#666;\">Declared Type:</td><td style=\"padding:8px 0;\">{{ $json.fileType }}</td></tr>\n<tr><td style=\"padding:8px 0;color:#666;\">SHA256:</td><td style=\"padding:8px 0;font-family:monospace;font-size:11px;word-break:break-all;\">{{ $json.sha256 }}</td></tr>\n</table>\n<p style=\"margin:15px 0 0 0;\"><a href=\"{{ $json.download_url }}\" style=\"color:#007bff;text-decoration:none;font-weight:bold;\">&#128196; View/Download Document</a></p>\n</div>\n\n<div style=\"background:{{ $json.is_approved ? '#d4edda' : '#fff3cd' }};border:2px solid {{ $json.is_approved ? '#28a745' : '#ffc107' }};padding:20px;border-radius:8px;margin-bottom:20px;\">\n<h2 style=\"color:#1a365d;margin:0 0 15px 0;font-size:18px;\">AI Compliance Analysis</h2>\n<div style=\"display:flex;align-items:center;flex-wrap:wrap;gap:10px;margin-bottom:15px;\">\n<div style=\"background:{{ $json.review.score >= 80 ? '#28a745' : $json.review.score >= 60 ? '#ffc107' : '#dc3545' }};color:{{ $json.review.score >= 60 && $json.review.score < 80 ? '#333' : 'white' }};padding:12px 24px;border-radius:25px;font-weight:bold;font-size:18px;\">Score: {{ $json.review.score }}/100</div>\n<div style=\"background:{{ $json.is_approved ? '#28a745' : '#dc3545' }};color:white;padding:8px 18px;border-radius:20px;font-size:13px;font-weight:bold;\">{{ $json.decision }}</div>\n</div>\n<p style=\"margin:0 0 15px 0;line-height:1.6;font-size:15px;\"><b>Summary:</b> {{ $json.review.summary }}</p>\n\n{{ $json.doc_type === 'DATA' && $json.alcoa_summary ? '<div style=\"background:#e9ecef;padding:12px 15px;border-radius:6px;margin-bottom:15px;\"><b style=\"color:#6f42c1;\">&#128202; ' + $json.alcoa_summary + '</b></div>' : '' }}\n\n{{ $json.doc_type === 'DATA' && $json.review.alcoa_flags ? '<div style=\"margin-bottom:15px;\"><b style=\"color:#6f42c1;\">ALCOA+ Criteria:</b><div style=\"display:flex;flex-wrap:wrap;gap:8px;margin-top:8px;\">' + Object.entries($json.review.alcoa_flags).map(([k,v]) => '<span style=\"background:' + (v ? '#d4edda' : '#f8d7da') + ';color:' + (v ? '#155724' : '#721c24') + ';padding:4px 10px;border-radius:12px;font-size:12px;\">' + (v ? '&#10003;' : '&#10007;') + ' ' + k.charAt(0).toUpperCase() + k.slice(1) + '</span>').join('') + '</div></div>' : '' }}\n\n{{ $json.review.missing_sections && $json.review.missing_sections.length > 0 ? '<div style=\"margin-bottom:15px;\"><b style=\"color:#856404;\">&#9888; Missing SOP Sections:</b><ul style=\"margin:8px 0 0 0;padding-left:20px;\">' + $json.review.missing_sections.map(s => '<li style=\"margin:4px 0;color:#856404;\">' + s + '</li>').join('') + '</ul></div>' : '' }}\n\n{{ $json.review.issues && $json.review.issues.length > 0 ? '<div style=\"margin-bottom:15px;\"><b style=\"color:#dc3545;\">&#10060; Issues Found:</b><ul style=\"margin:8px 0 0 0;padding-left:20px;\">' + $json.review.issues.map(i => '<li style=\"margin:4px 0;\">' + i + '</li>').join('') + '</ul></div>' : '' }}\n\n{{ $json.review.recommended_changes && $json.review.recommended_changes.length > 0 ? '<div><b style=\"color:#007bff;\">&#128161; Recommended Changes:</b><ul style=\"margin:8px 0 0 0;padding-left:20px;\">' + $json.review.recommended_changes.map(r => '<li style=\"margin:4px 0;\">' + r + '</li>').join('') + '</ul></div>' : '' }}\n</div>\n\n<div style=\"background:linear-gradient(135deg,#1a365d,#2d5a87);padding:25px;border-radius:8px;text-align:center;\">\n<p style=\"color:white;margin:0 0 8px 0;font-size:16px;\"><b>PI Review Actions</b></p>\n<p style=\"color:rgba(255,255,255,0.8);margin:0 0 20px 0;font-size:13px;\">You have final authority over this submission</p>\n<a href=\"{{ $json.approve_url }}\" style=\"display:inline-block;padding:14px 35px;background:#28a745;color:white;text-decoration:none;border-radius:6px;margin:5px;font-weight:bold;font-size:14px;\">&#10003; Approve & Sign</a>\n<a href=\"{{ $json.revise_url }}\" style=\"display:inline-block;padding:14px 35px;background:#ffc107;color:#333;text-decoration:none;border-radius:6px;margin:5px;font-weight:bold;font-size:14px;\">&#9998; Request Revision</a>\n</div>\n\n<div style=\"margin-top:20px;padding:15px;background:#f8f9fa;border-radius:8px;font-size:12px;color:#666;\">\n<p style=\"margin:0 0 8px 0;\"><b>Note:</b> As PI, you retain full authority to approve or reject submissions regardless of AI recommendation. The AI analysis is provided as a preliminary assessment tool.</p>\n</div>\n\n</div>\n\n<div style=\"padding:15px 25px;background:#e9ecef;text-align:center;font-size:12px;color:#666;\">\n<p style=\"margin:0;\">NATLAB GLP Data Integrity Portal | AI-Assisted Review System</p>\n<p style=\"margin:5px 0 0 0;opacity:0.8;\">Document {{ $json.submission_id }} | {{ new Date().toISOString().split('T')[0] }}</p>\n</div>\n\n</div>\n</body></html>",
        "options": {}
      },
      "id": "send-email-1",
      "name": "Send Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1780, 600],
      "credentials": {
        "gmailOAuth2": {
          "id": "gmail-credential",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, submission_id: $('Build Result').first().json.submission_id, score: $('Build Result').first().json.review.score, message: 'Review completed' }) }}",
        "options": {}
      },
      "id": "respond-success-1",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2000, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Action": {
      "main": [
        [
          {
            "node": "Is Show Form?",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Revise?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Show Form?": {
      "main": [
        [
          {
            "node": "Show Form Response",
            "type": "main",
            "index": 0
          }
        ],
        [
        ]
      ]
    },
    "Is Revise?": {
      "main": [
        [
          {
            "node": "Update to Revision",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update to Revision": {
      "main": [
        [
          {
            "node": "Revision Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "AI Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Review": {
      "main": [
        [
          {
            "node": "Build Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Result": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "versionId": "v4-if-nodes"
}
