n8n-workflow-glp-weekly.json
{
  "name": "GLP Weekly Snapshot v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9 * * 3"
            }
          ]
        }
      },
      "id": "66a52480-7758-4322-a76b-0a92d11ad1cc",
      "name": "Wednesday 09:00 Stockholm",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "notes": "Every Wednesday 09:00 Europe/Stockholm"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glp-weekly-regenerate",
        "options": {}
      },
      "id": "0746f4ec-fc93-43db-9968-b30224a08ec4",
      "name": "Webhook Manual Regenerate",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        208
      ],
      "webhookId": "ef77e81a-0bb7-446c-8bc4-c645b30f679a",
      "notes": "PI-only manual regeneration. Credential 'GLP Webhook Secret' must have header name 'x-webhook-secret' with value matching NATLAB_WEBHOOK_SECRET. Body: { affiliation?, iso_week?, roles? }"
    },
    {
      "parameters": {
        "jsCode": "// Resolve scope from trigger output (cron = empty, webhook = body with overrides)\nconst input = $input.first().json;\nconst body = input.body || input;\n\n// Compute current ISO week\nconst d = new Date();\nd.setUTCDate(d.getUTCDate() + 4 - (d.getUTCDay() || 7));\nconst yearStart = new Date(Date.UTC(d.getUTCFullYear(), 0, 1));\nconst weekNo = Math.ceil((((d - yearStart) / 86400000) + 1) / 7);\nconst currentWeek = `${d.getUTCFullYear()}W${String(weekNo).padStart(2, '0')}`;\n\nreturn [{\n  json: {\n    isoWeek: body.iso_week || currentWeek,\n    targetAffiliation: body.affiliation || null,\n    includedRoles: body.roles || ['researcher', 'supervisor']\n  }\n}];"
      },
      "id": "5ac9c400-9a35-49ed-a06f-060ec9512865",
      "name": "Resolve Scope",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.NATLAB_GLP_BASE_URL }}/api/glp/status/users-active",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.NATLAB_GLP_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "5f9be736-7443-4a29-ab69-7e1cc276a14c",
      "name": "Get Active Users",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "// Filter users by included roles and optional affiliation, split into per-user items\nconst scope = $('Resolve Scope').first().json;\nconst response = $input.first().json;\nconst users = response.users || [];\nconst roles = scope.includedRoles;\nconst targetAff = scope.targetAffiliation;\n\nconst filtered = users.filter(u => {\n  if (!roles.includes(u.role)) return false;\n  if (targetAff && u.affiliation !== targetAff) return false;\n  return true;\n});\n\nif (filtered.length === 0) {\n  return [{ json: { _empty: true, _isoWeek: scope.isoWeek, _message: 'No users match role/affiliation filter' } }];\n}\n\nreturn filtered.map(u => ({\n  json: { ...u, _isoWeek: scope.isoWeek }\n}));"
      },
      "id": "10eb90f8-c24f-482f-9400-98776ab8b8cf",
      "name": "Filter Roles",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        112
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.NATLAB_GLP_BASE_URL + '/api/glp/status/user-facts/' + $json.user_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.NATLAB_GLP_API_KEY }}"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "ad5ba2da-f290-4f75-89da-306722c80cf0",
      "name": "Fetch User Facts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1008,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Validate Azure AI output and compose v2 snapshot\nconst computed = $('Compute Signals and Scores').item.json;\n\nif (computed._skip) {\n  return { json: { _skip: true, user_id: computed.user_id, _error: computed._error } };\n}\n\n// Parse AI output\nconst aiRaw = $input.item.json;\nlet aiText = aiRaw.message?.content || aiRaw.text || '{}';\nlet ai;\ntry {\n  ai = typeof aiText === 'string' ? JSON.parse(aiText) : aiText;\n} catch (e) {\n  ai = null;\n}\n\nconst truncate = (s, max) => typeof s === 'string' && s.length > max ? s.slice(0, max) + '...' : (s || '');\n\nconst fallbackAI = {\n  harmony_map: {\n    documentation: { insight: 'Analysis pending.', next_action: 'Continue current documentation practices.' },\n    training: { insight: 'Analysis pending.', next_action: 'Continue training activities.' },\n    traceability: { insight: 'Analysis pending.', next_action: 'Maintain inventory records.' },\n    data_integrity: { insight: 'Analysis pending.', next_action: 'Continue data submissions.' },\n    best_next_action: 'Review your GLP status and identify areas for improvement.'\n  },\n  glp_conformity: [],\n  highlights: ['Status snapshot generated successfully.'],\n  primary_focus_pillar: 'documentation',\n  severity_badges: { documentation: 'ok', training: 'ok', traceability: 'ok', data_integrity: 'ok' }\n};\n\nlet aiValid = true;\nif (!ai || !ai.harmony_map || !ai.glp_conformity || !ai.highlights) {\n  ai = fallbackAI;\n  aiValid = false;\n}\n\n// Sanitize harmony_map\nconst hm = ai.harmony_map || fallbackAI.harmony_map;\nfor (const key of ['documentation', 'training', 'traceability', 'data_integrity']) {\n  if (hm[key]) {\n    hm[key].insight = truncate(hm[key].insight, 200);\n    hm[key].next_action = truncate(hm[key].next_action, 200);\n  } else {\n    hm[key] = fallbackAI.harmony_map[key];\n  }\n}\nhm.best_next_action = truncate(hm.best_next_action, 200);\n\n// Cap conformity items at 5\nlet conformityItems = Array.isArray(ai.glp_conformity) ? ai.glp_conformity.slice(0, 5) : [];\nconformityItems = conformityItems.map(c => ({\n  issue: truncate(c.issue, 200),\n  evidence: truncate(c.evidence, 200),\n  why_it_matters: truncate(c.why_it_matters, 200),\n  next_step: truncate(c.next_step, 200),\n  effort_level: ['low', 'medium', 'high'].includes(c.effort_level) ? c.effort_level : 'medium'\n}));\n\nconst highlights = (Array.isArray(ai.highlights) ? ai.highlights : []).slice(0, 4).map(h => truncate(h, 200));\n\n// Compose v2 snapshot\nconst c = computed;\nconst resolveLabel = (score) => {\n  if (score >= 81) return 'dragon';\n  if (score >= 61) return 'eagle';\n  if (score >= 41) return 'owl';\n  if (score >= 21) return 'fledgling';\n  return 'hatchling';\n};\n\nconst snapshot = {\n  schema_version: 2,\n  model_version: 'azure-gpt-4o',\n  scoring_version: '2.0.0',\n  generated_at: new Date().toISOString(),\n  iso_week: c._isoWeek,\n  user_id: c.user_id,\n  name: c.name,\n  role: c.role,\n  affiliation: c.affiliation,\n  overall_score: c.scores.overall,\n  glp_level: c.maturity,\n  spheres: {\n    documentation: { score: c.scores.documentation, label: resolveLabel(c.scores.documentation) },\n    training: { score: c.scores.training, label: resolveLabel(c.scores.training) },\n    traceability: { score: c.scores.traceability, label: resolveLabel(c.scores.traceability) },\n    data_integrity: { score: c.scores.data_integrity, label: resolveLabel(c.scores.data_integrity) }\n  },\n  evidence: c.evidence,\n  conformity: c.conformity,\n  signals: c.signals,\n  scores: c.scores,\n  maturity: c.maturity,\n  confidence: c.confidence,\n  harmony_map: hm,\n  glp_conformity: conformityItems,\n  highlights,\n  ui_hints: {\n    primary_focus_pillar: ai.primary_focus_pillar || 'documentation',\n    severity_badges: ai.severity_badges || { documentation: 'ok', training: 'ok', traceability: 'ok', data_integrity: 'ok' },\n    ai_valid: aiValid\n  }\n};\n\nreturn {\n  json: {\n    user_id: c.user_id,\n    _isoWeek: c._isoWeek,\n    _skip: false,\n    snapshot\n  }\n};"
      },
      "id": "f7301161-b67f-425c-8074-f900ff49acab",
      "name": "Validate AI and Compose Snapshot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1968,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NATLAB_GLP_BASE_URL }}/api/glp/status/write-weekly-snapshot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.NATLAB_GLP_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ user_id: $json.user_id, iso_week: $json._isoWeek, snapshot: $json.snapshot }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "77bb15b4-6c50-4c30-9a81-4a7e39abb4d7",
      "name": "Write Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Collect all composed snapshots, group by affiliation, compute aggregated metrics\nconst composedItems = $('Validate AI and Compose Snapshot').all();\nconst successful = composedItems.filter(item => !item.json._skip && item.json.snapshot);\n\nif (successful.length === 0) {\n  return [{ json: { _empty: true, _message: 'No successful snapshots to aggregate' } }];\n}\n\n// Group by affiliation\nconst groups = {};\nfor (const item of successful) {\n  const snap = item.json.snapshot;\n  const aff = snap.affiliation;\n  if (!groups[aff]) groups[aff] = { snapshots: [], memberUserIds: [] };\n  groups[aff].snapshots.push(snap);\n  groups[aff].memberUserIds.push(snap.user_id);\n}\n\nconst mean = arr => arr.length === 0 ? 0 : Math.round(arr.reduce((a, b) => a + b, 0) / arr.length);\n\nconst output = [];\nfor (const [aff, g] of Object.entries(groups)) {\n  const snaps = g.snapshots;\n  if (snaps.length === 0) continue;\n\n  const meanScores = {\n    documentation: mean(snaps.map(s => s.scores?.documentation || 0)),\n    training: mean(snaps.map(s => s.scores?.training || 0)),\n    traceability: mean(snaps.map(s => s.scores?.traceability || 0)),\n    data_integrity: mean(snaps.map(s => s.scores?.data_integrity || 0)),\n    overall: mean(snaps.map(s => s.scores?.overall || s.overall_score || 0))\n  };\n\n  const dist = { hatchling: 0, fledgling: 0, owl: 0, eagle: 0, dragon: 0 };\n  for (const s of snaps) {\n    const level = s.maturity || s.glp_level || 'hatchling';\n    if (dist[level] !== undefined) dist[level]++;\n  }\n\n  const evTotals = {\n    sop_count: snaps.reduce((sum, s) => sum + (s.evidence?.sop_count || 0), 0),\n    data_count: snaps.reduce((sum, s) => sum + (s.evidence?.data_count || 0), 0),\n    inventory_count: snaps.reduce((sum, s) => sum + (s.evidence?.inventory_count || 0), 0),\n    presentation_count: snaps.reduce((sum, s) => sum + (s.evidence?.presentation_count || 0), 0),\n    training_sealed: snaps.reduce((sum, s) => sum + (s.evidence?.training_sealed || 0), 0),\n    training_certified: snaps.reduce((sum, s) => sum + (s.evidence?.training_certified || 0), 0)\n  };\n\n  const confKeys = ['training_sealed', 'all_agreements_confirmed', 'has_approved_sops', 'has_approved_data', 'inventory_active', 'no_open_revisions', 'recent_activity'];\n  const conformity = {};\n  for (const k of confKeys) {\n    conformity[k] = snaps.every(s => s.conformity?.[k] === true);\n  }\n\n  const spheres = ['documentation', 'training', 'traceability', 'data_integrity'];\n  const bottlenecks = spheres.map(sp => ({\n    sphere: sp,\n    below_40_count: snaps.filter(s => (s.scores?.[sp] || 0) < 40).length\n  })).filter(b => b.below_40_count > 0).sort((a, b) => b.below_40_count - a.below_40_count);\n\n  const members = snaps.map(s => ({\n    user_id: s.user_id,\n    name: s.name,\n    maturity: s.maturity || s.glp_level,\n    overall_score: s.scores?.overall || s.overall_score || 0\n  }));\n\n  output.push({\n    json: {\n      affiliation: aff,\n      _isoWeek: snaps[0].iso_week || $('Resolve Scope').first().json.isoWeek,\n      memberCount: snaps.length,\n      memberUserIds: g.memberUserIds,\n      meanScores,\n      maturityDistribution: dist,\n      evidenceTotals: evTotals,\n      conformity,\n      bottleneckSpheres: bottlenecks,\n      members\n    }\n  });\n}\n\nif (output.length === 0) {\n  return [{ json: { _empty: true, _message: 'No affiliations to aggregate' } }];\n}\n\nreturn output;"
      },
      "id": "5875b855-c194-45af-b2a9-38dc03016fb7",
      "name": "Aggregate Groups",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2464,
        112
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Validate group AI output and compose group snapshot\nconst agg = $('Aggregate Groups').item.json;\n\nif (agg._empty) {\n  return { json: { _skip: true, _message: agg._message } };\n}\n\n// Parse AI output\nconst aiRaw = $input.item.json;\nlet aiText = aiRaw.message?.content || aiRaw.text || '{}';\nlet ai;\ntry {\n  ai = typeof aiText === 'string' ? JSON.parse(aiText) : aiText;\n} catch (e) {\n  ai = null;\n}\n\nconst truncate = (s, max) => typeof s === 'string' && s.length > max ? s.slice(0, max) + '...' : (s || '');\n\nconst fallback = {\n  group_summary: 'Group analysis pending.',\n  top_bottlenecks: [],\n  recommended_actions: [],\n  wins: []\n};\n\nif (!ai || !ai.group_summary) {\n  ai = fallback;\n}\n\n// Sanitize\nconst aiGroup = {\n  group_summary: truncate(ai.group_summary, 500),\n  top_bottlenecks: (Array.isArray(ai.top_bottlenecks) ? ai.top_bottlenecks : []).slice(0, 5).map(b => truncate(b, 200)),\n  recommended_actions: (Array.isArray(ai.recommended_actions) ? ai.recommended_actions : []).slice(0, 5).map(a => truncate(a, 200)),\n  wins: (Array.isArray(ai.wins) ? ai.wins : []).slice(0, 4).map(w => truncate(w, 200))\n};\n\nconst groupSnapshot = {\n  schema_version: 2,\n  generated_at: new Date().toISOString(),\n  iso_week: agg._isoWeek,\n  affiliation: agg.affiliation,\n  member_count: agg.memberCount,\n  mean_scores: agg.meanScores,\n  maturity_distribution: agg.maturityDistribution,\n  evidence_totals: agg.evidenceTotals,\n  conformity: agg.conformity,\n  bottleneck_spheres: agg.bottleneckSpheres,\n  members: agg.members,\n  ai_group: aiGroup\n};\n\nreturn {\n  json: {\n    affiliation: agg.affiliation,\n    _isoWeek: agg._isoWeek,\n    memberCount: agg.memberCount,\n    memberUserIds: agg.memberUserIds,\n    groupSnapshot,\n    _skip: false\n  }\n};"
      },
      "id": "f597de04-64ee-4b4e-936c-65c38b800914",
      "name": "Validate Group AI and Compose",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2960,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NATLAB_GLP_BASE_URL }}/api/glp/status/write-weekly-group-snapshot",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $env.NATLAB_GLP_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ affiliation: $json.affiliation, iso_week: $json._isoWeek, snapshot: $json.groupSnapshot, member_count: $json.memberCount, member_user_ids: $json.memberUserIds }) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f02496a1-cdd2-4688-b10e-96b3b1eb7ac4",
      "name": "Write Group Snapshot",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3216,
        112
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Final summary: count successes and failures\nconst composed = $('Validate AI and Compose Snapshot').all();\nconst succeeded = composed.filter(i => !i.json._skip && i.json.snapshot).length;\nconst failed = composed.filter(i => i.json._skip).length;\n\nconst groupResults = $input.all();\nconst groupsWritten = groupResults.filter(i => i.json.success).length;\n\nconst scope = $('Resolve Scope').first().json;\n\nreturn [{\n  json: {\n    summary: `GLP Weekly v2 complete for ${scope.isoWeek}`,\n    users_succeeded: succeeded,\n    users_failed: failed,\n    groups_written: groupsWritten,\n    included_roles: scope.includedRoles,\n    target_affiliation: scope.targetAffiliation || 'all'\n  }\n}];"
      },
      "id": "05078fb0-0633-463a-b130-c2c93a76fad5",
      "name": "Final Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3472,
        112
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "4a463bbc-e89c-4f14-b790-094af443447c",
      "name": "Analysis per User",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        1664,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "Y4cRhDttVeOy0a5a",
          "name": "OpenAi UNAV"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "id"
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "id": "6cade795-be9f-4d9a-a465-9c5722055f25",
      "name": "Analysis Group",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [
        2672,
        112
      ],
      "credentials": {
        "openAiApi": {
          "id": "Y4cRhDttVeOy0a5a",
          "name": "OpenAi UNAV"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{$env.NATLAB_BASE_URL}}/api/glp/status/history/{{$json.user_id || $json.user?.user_id}}?limit=5\n",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{$env.API_SECRET_KEY}}"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1472,
        112
      ],
      "id": "b327fbc5-424d-494f-b1eb-f0c90af351b0",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Wednesday 09:00 Stockholm": {
      "main": [
        [
          {
            "node": "Resolve Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Manual Regenerate": {
      "main": [
        [
          {
            "node": "Resolve Scope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Scope": {
      "main": [
        [
          {
            "node": "Get Active Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Users": {
      "main": [
        [
          {
            "node": "Filter Roles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Roles": {
      "main": [
        [
          {
            "node": "Fetch User Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch User Facts": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate AI and Compose Snapshot": {
      "main": [
        [
          {
            "node": "Write Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Snapshot": {
      "main": [
        [
          {
            "node": "Aggregate Groups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Groups": {
      "main": [
        [
          {
            "node": "Analysis Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Group AI and Compose": {
      "main": [
        [
          {
            "node": "Write Group Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Group Snapshot": {
      "main": [
        [
          {
            "node": "Final Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis per User": {
      "main": [
        [
          {
            "node": "Validate AI and Compose Snapshot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analysis Group": {
      "main": [
        [
          {
            "node": "Validate Group AI and Compose",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Analysis per User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b9ee665b-e048-4669-8281-3233868d87de",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d20f636b2698fea2d70497ebfd64e69b1a9f2d0d17656c5851611a01e82826d4"
  },
  "id": "YLSFM0joVa6eXu04EYkGg",
  "tags": [
    {
      "updatedAt": "2026-02-13T14:10:30.586Z",
      "createdAt": "2026-02-13T14:10:30.586Z",
      "id": "bTKPY8Tq4OqDhc1V",
      "name": "GLP"
    }
  ]
}